{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:#ccc;
	width:90%;
	max-width:fit-content;
	height: auto;
	margin:auto;

	display:flex;
	flex-flow:row wrap;
}

body {
	background:#e9e9e9;
}

header {
	background:#D91604;
	width:100%;
	padding:20px;

	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:column;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
    font-family: 'Arizonia', cursive;
}

/* header .logo img {
	width:30%;
	vertical-align: top;
} */

header .logo h1 {
	color:black;
	text-decoration: none;
	line-height:50px;
    text-align: center;
}

header .logo h3 {
	color:white;
	text-decoration: none;
	line-height:50px;
	text-align: center;
}

header nav {
	width:50%;

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#1B7302;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;

	flex-grow:1;
}

.main {
	background:#fff;
	padding:20px;

	flex:1 1 70%;
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article .titulo {
	font-size:30px;
	font-family: 'Arizonia', cursive;
}

.main article .articulo {

	font-family: 'Lora', serif;
}
.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

.main article p {

	font-family: 'Lora', serif;
}

.main article table {
	font-family: 'Lora', serif;
}

.main .productos .rellenas {
	justify-content:stretch;
	align-items:center;
	display:flexbox;
}

.main .productos h2 {
	font-size:200%;
	font-family: 'Arizonia', cursive;
}

.main .productos h3 {
	font-size:200%;
	font-family: 'Arizonia', cursive;
}


.main .productos .rellenas h4 {
	font-size:150%;
	font-family: 'Lora', serif;
}

.main .productos .rellenas p {
	font-size:100%;
	font-family: 'Lora', serif;
}

.main .productos .rellenas ul li {
	font-size:100%;
	font-family: 'Lora', serif;
}

.main form {
	align-self: center;
}
aside {
	background:#e67e22;
	padding:20px;
	flex:1 1 30%;

}
aside h3 {
	font-size:30px;
	font-family: 'Arizonia', cursive;
}

aside p {
	font-family: 'Lora', serif;
}

aside iframe {
	width: auto;
	height:auto;
}
footer {
	background:#D91604;
	width: 100%;
	padding:20px;

	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

footer .links {
	background:#1B7302;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .social a {
	/* color:#fff; */
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

.icon-facebook:before {
	content: "\ea91";
	background-color: white;
	color: #2E406E;
	font-size: 25px;
	border-radius: 40px;
	

}

.icon-instagram:before {
	content: "\ea92";
	background-color: #3F60A5;
	color: white;
	font-size: 25px;
	border-radius: 40px;
	
}

.icon-whatsapp:before {
	content: "\ea93";
	background-color: #25d366;
	color: white;
	font-size: 25px;
	border-radius: 40px;
}

.icon-mail:before {
	content: "\ea86";
	background:#E41F1A;
	color: white;
	font-size: 25px;
	border-radius: 40px;
}

.icon-facebook:hover {
	transform: translateY(-3px) scale(1.05);
}

.icon-instagram:hover {
	transform: translateY(-3px) scale(1.05);
}

.icon-whatsapp:hover {
	transform: translateY(-3px) scale(1.05);
}

.icon-mail:hover {
	transform: translateY(-3px) scale(1.05);
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	

}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}